<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\realtodo.common.tests\packages.config" />
  <repository path="..\src\realtodo.data.sqlserver\packages.config" />
  <repository path="..\src\realtodo.web.api.tests\packages.config" />
  <repository path="..\src\realtodo.web.api\packages.config" />
  <repository path="..\src\realtodo.web.common\packages.config" />
</repositories>